/**
css code is broken down into sections with further comments describing large sections of styling e.g. banner, bannerImg, bannerText
  Contents of page
  Section 1: Common styling
  Section 2: Index Page
  Section 3: Navbar
  Section 4: Footer
  Section 5: Contact us Page
  Section 6: Submit Page
  Section 7: About us Page
  Section 8: Food Page
  Section 9: Category Pages
*/

/* Section 1 style for body of all pages and generic styles */
    body,html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    }
    /*all href links don't have any underlines etc */
    a {
      text-decoration: none !important;
    }
    /*container and main are used to present the page content and take up the whole window of the browser*/
    .container{
    min-height: 100%;
    }
    .main{
    padding-bottom: 100px;
    }
    /*all submit inputs on the website are styled as below*/
    input[type=submit] {
    width: 50%;
    color: white;
    padding: 14px 20px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color:rgb(197, 44, 44);
    }
    /*change colour of submit button when hovering over*/
    input[type=submit]:hover {
    background-color:rgb(141, 35, 35);
    }
    /* style all textfields and select inputs with the following styling*/
    input[type=text], input[type = email], select, textarea {
      width: 100%;
      padding: 16px 8px;
      margin: 8px 0;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      display: inline-block;
      }
    /*display main content of page in the center of the page*/
    .centerColumn{
      position: relative;
      display: flex;
      justify-content: center;
      column-gap: 20px;
    }
    /*group inputs on forms with no black border*/
    fieldset{
      border:none;
    }
    /*postion legend of form in the center of form*/
    legend {
      position: relative;
      left:40%;
      font-weight: bold;
    }
/* Section 2 styling for index page*/
    /* banner */
    .mainPageBanner{
      overflow: hidden;
      z-index: 1;
      height: 415px;
      background-color: bisque;
      display: block;
      position: relative;
      width:100%;
    }
  
    .mainPageBanner h1 {
      text-align: center;
      color: #000000;
      position: relative;
      top: 40%;
    }

    .mainPageBannerPhotos {
      z-index: -1;
      position: absolute;
      height: 100%;
    }
    /*banner search bar*/
    .searchBarFood {
      position: relative;
      top: 45%;
      width: 30%;
      margin: auto;
    }
  
    #searchFood{
      border: 0;
    }

    .homePageSearchButton {
      background-color:green;
      color: white;
      height: 40px;
      width: 110px;
      padding: 0;
      border: none;
    }

    /* Slideshow container */
    .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
    }
    
    /* dots underneath slideshow*/
    .dot {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    /*dots colour when active*/
    .active {
      background-color: #717171;
    }
    
    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @-webkit-keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }

/* Section 3 styling for navbar*/
    .navbar-nav {
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(97, 95, 95);
    }
    /*nav bar items e.g. page links*/
    .nav-item {
    float: left;
    position: sticky;
    margin-right: 10px;
    }
    .nav-item a {
    font-size: larger;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    }
    .nav-item a:hover{
    background-color:#4CAF50;
    }
    /* search bar of navbar*/
    .searchBar{
    position: relative;
    float: right;
    margin-right: 10px;
    }
    input[type=search] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }
    /*logo image*/
    .logoImage{
    position: relative;
    width:200px;
    height:150px;
    display: flex;
    }
/* Section 4 styling for footer content*/
    footer{
    background-color: #4CAF50;
    position: relative;
    bottom: 0;
    margin-top: -50px;
    }
    /*left footer column*/
    .footerleft {
    float: left;
    width: 15%;
    }
    /*right footer column*/
    .footerright {
    float: left;
    width: 10%;
    }
    /*middle footer column*/
    .footermiddle{ 
    float: left;
    width: 10%;
    }
    /*style of text in footer column*/
    .footermiddle a,ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    /*styles for social media links*/
    .fa {
    padding: 10px;
    font-size: 10px;
    width: 20px;
    text-align: center;
    margin: 5px 2px;
    }
    .fa:hover {
    opacity: 0.7;
    }
    .fa-facebook {
    background: #3B5998;
    color: white;
    }
    .fa-twitter {
    background: #55ACEE;
    color: white;
    }
    .fa-google {
    background: #dd4b39;
    color: white;
    }
    .fa-linkedin {
    background: #007bb5;
    color: white;
    }
/*Section 5 styling for contact us page*/
    /*banner*/
  .contactBanner{
    object-fit: cover;
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    .bannerText {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: rgb(180, 0, 0);
    }
    /*page content*/
    .contactContainer{
    position: relative;
    text-align: center;
    }
    /*left column*/
    .contactLeft{
    float: left;
    width: 15%;
    }
    .contactLeft > p, h1{
    line-height: 0.5em;
    }
    /*right column*/
    .contactRight{
    float: left;
    width: 30%;
    padding-left: 50px;
    }
    .contactForm {
    border: 5px solid #f1f1f1;
    }
    .contactForm > h1 {
    text-align: center;
    }
    .formcontainer {
    text-align: left;
    margin: 24px 50px 12px;
    }
    .contactButton {
    background-color: #8ebf42;
    color: white;
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    cursor: grabbing;
    width: 100%;
    }
/* Section 6 styling for submit page*/
    /*background image for page*/
    .submitBackground {
    background-image: url(../Images/foodBackground2.png);
    background-repeat: no-repeat;
    background-position: right;
    }
    /*style for form*/
    .submitForm {
    position: relative;
    top: 2em;
    margin: 0 auto;
    width: 35%;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 25px 0 red; 
    }
    .submitFormGroup{
    width: 60%;
    }
  /*styling for rating system on submit form */
    .star{
    color: goldenrod; /*colour of star*/
    font-size: 1.5rem;
    padding: 0.2rem; /* space out the stars */
    }
    /* star outline */
    .star::before{
    content: '\2606';    
    cursor: pointer;
    }
    .star.rated::before{
    /* the style for a selected star */
    content: '\2605';  /* filled star */
    }
    .stars{
    counter-reset: rateme 0;   
    font-size: 1.5rem;
    font-weight: 900;
    }
    .star.rated{
    counter-increment: rateme 1;
    }
    /*style for text area on submit form*/
    .submitTextArea{
    height: 150px;
    padding: 12px 20px;
    resize: none;
    }
/* Section 7 styling for about us page */
    /*banner*/
    .aboutUsBanner{
    margin-top: 20em;
    margin: 0 auto;
    width: 50%;
    height: 20em;
    background-color: #4CAF50;
    }
    .aboutUsBannerHeadings{
    line-height: 6em;
    position: relative;
    padding-top: 5em;
    text-align: center;
    color: rgb(180, 0, 0);
    }
    /*main content on page*/
    .aboutUsContent > p{
    margin: 0;
    text-align: justify;
    line-height: 1.5em;
    padding: 1em 1em 0em;
    }
    .aboutUsContent{
    margin-top: 20em;
    padding-bottom: 2em;
    margin: 0 auto;
    width: 50%;
    height: auto;
    background-color: white;
    overflow:auto;
    }
    .aboutUsImage{
    width: 300px;
    height: auto;
    margin: 20px;
    float: left;
    }
    /*background image for page*/
    .aboutUsBackground {
      background-image: url(../Images/aboutUsBackground.jpg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      }
/*Section 8 styling for food pages*/
  /* Create four equal columns that sit next to each other */
    .foodColumn {
    flex: 25%;
    max-width: 20%;
    padding: 0 4px;
    }
    .foodColumn:hover{
    opacity: 0.3;
    }
    .foodColumn img {
    margin-top: 8px;
    width: 75%;
    }
    .foodHeader{
    padding: 32px;
    text-align: center;
    text-decoration: underline;
    }
    /*align content in columns in the center and inline*/
    .foodRow {
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      padding: 0 4px;
      text-align: center;
    }
/* Section 9 styling for category pages */
    /*cards are used to present posts*/
    .card {
      overflow-x: auto;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 5em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 20%;
    }
    /*create shadow behind card when mouse hovers over*/
    .card:hover {
    box-shadow: 0 30px 16px 0 rgba(0,0,0,0.2);
    }
    /*spacing around text in card*/
    .cardContainer {
    padding: 2px 16px;
    }
    /*display cards in a line and space evenly*/
    .foodCards{
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    }
    /*this code is used on the index page but is placed down here next to the other card styles
    code is used to remove the blue colour from hyperlinks
    */
    .card > a:link{
      color: black;
    }
    .card > a:visited{
      color: black;
    }