footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}

.logoImage{
    position: relative;
    width:200px;
    height:150px;
    margin-left: 0em;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .testbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding: 20px;
  }
  .submitForm {
  width: 100%;
  padding: 20px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 0 25px 0 red; 
  }
  .star{
    color: goldenrod;
    font-size: 2.0rem;
    padding: 0 1rem; /* space out the stars */
  }
  .star::before{
    content: '\2606';    /* star outline */
    cursor: pointer;
  }
  .star.rated::before{
    /* the style for a selected star */
    content: '\2605';  /* filled star */
  }
  
  .stars{
      counter-reset: rateme 0;   
      font-size: 2.0rem;
      font-weight: 900;
  }
  .star.rated{
      counter-increment: rateme 1;
  }
  .stars::after{
      content: counter(rateme) '/5';
  }