/*style for body of all pages and generic styles */
    body,html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    }
    a {
      text-decoration: none !important;
    }
    .container{
    min-height: 100%;
    }
    .main{
    padding-bottom: 100px;
    }
    input[type=submit] {
    width: 50%;
    color: white;
    padding: 14px 20px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color:rgb(197, 44, 44);
    }
    input[type=submit]:hover {
    background-color:rgb(141, 35, 35);
    }

    .centerColumn{
      position: relative;
      display: flex;
      justify-content: center;
      column-gap: 20px;
    }
/*styling for home page*/
    .mainPageBanner{
      overflow: hidden;
      z-index: 1;
      height: 415px;
      background-color: bisque;
      display: block;
      position: relative;
      width:100%;
    }
  
    .mainPageBanner h1 {
      text-align: center;
      color: #000000;
      position: relative;
      top: 40%;
    }

    .mainPageBannerPhotos {
      z-index: -1;
      bottom: 0;
      left: 0;
      position: absolute;
      height: 100%;
    }
  
    .searchBarFood {
      position: relative;
      top: 45%;
      width: 30%;
      margin: auto;
    }
  
    #searchFood{
      border: 0;
    }

    .homePageSearchButton {
      background-color:green;
      color: white;
      height: 40px;
      width: 110px;
      padding: 0;
      border: none;
    }

    /* Slideshow container */
    .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
    }
    
    /* The dots/bullets/indicators */
    .dot {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    .active {
      background-color: #717171;
    }
    
    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @-webkit-keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }

/*styling for navbar*/
    .navbar-nav {
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(97, 95, 95);
    }
    .nav-item {
    float: left;
    position: sticky;
    margin-right: 10px;
    }
    .nav-item a {
    font-size: larger;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    }
    .nav-item a:hover{
    background-color:#4CAF50;
    }
    .searchBar{
    position: relative;
    float: right;
    margin-right: 10px;
    }
    input[type=search] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }
    .logoImage{
    position: relative;
    width:200px;
    height:150px;
    display: flex;
    }
/* styling for footer content*/
    footer{
    background-color: #4CAF50;
    position: relative;
    bottom: 0;
    margin-top: -50px;
    }
    .footerleft {
    float: left;
    width: 15%;
    }
    .footerright {
    float: left;
    width: 10%;
    }
    .footermiddle{ 
    float: left;
    width: 10%;
    }
    .footermiddle a,ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    .fa {
    padding: 10px;
    font-size: 10px;
    width: 20px;
    text-align: center;
    margin: 5px 2px;
    }
    .fa:hover {
    opacity: 0.7;
    }
    .fa-facebook {
    background: #3B5998;
    color: white;
    }
    .fa-twitter {
    background: #55ACEE;
    color: white;
    }
    .fa-google {
    background: #dd4b39;
    color: white;
    }
    .fa-linkedin {
    background: #007bb5;
    color: white;
    }
/*styling for contact us page*/
  .contactBanner{
    object-fit: cover;
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    .hero-text {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: rgb(180, 0, 0);
    }
    
    .contactContainer{
    position: relative;
    text-align: center;
    }
    .contactLeft{
    float: left;
    width: 15%;
    }
    .contactLeft > p, h1{
    line-height: 0.5em;
    }
    .contactRight{
    float: left;
    width: 30%;
    padding-left: 50px;
    }
    .contactForm {
    border: 5px solid #f1f1f1;
    }
    .contactForm > h1 {
    text-align: center;
    }
    .formcontainer {
    text-align: left;
    margin: 24px 50px 12px;
    }
    .contactButton {
    background-color: #8ebf42;
    color: white;
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    cursor: grabbing;
    width: 100%;
    }
/*styling for submit page*/
    .submitBackground {
    background-image: url(../Images/foodBackground2.png);
    background-repeat: no-repeat;
    background-position: right;
    }
    .submitForm {
    position: relative;
    top: 2em;
    margin: 0 auto;
    width: 35%;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 25px 0 red; 
    }
    .submitFormGroup{
    width: 50%;
    }
    input[type=text], input[type = email], select, textarea {
    width: 100%;
    padding: 16px 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    }
  /*styling for rating system on submit form */
    .star{
    color: goldenrod; /*colour of star*/
    font-size: 1.5rem;
    padding: 0.2rem; /* space out the stars */
    }
    /* star outline */
    .star::before{
    content: '\2606';    
    cursor: pointer;
    }
    .star.rated::before{
    /* the style for a selected star */
    content: '\2605';  /* filled star */
    }
    .stars{
    counter-reset: rateme 0;   
    font-size: 1.5rem;
    font-weight: 900;
    }
    .star.rated{
    counter-increment: rateme 1;
    }
    .submitTextArea{
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    }
/*styling for about us page */
    .aboutUsBanner{
    margin-top: 20em;
    margin: 0 auto;
    width: 50%;
    height: 20em;
    background-color: rgb(97, 95, 95);
    }
    .aboutUsBannerHeadings{
    line-height: 6em;
    position: relative;
    padding-top: 3em;
    text-align: center;
    margin: 0px;
    }
    .aboutUsContent > p{
    margin: 0;
    line-height: 1.5em;
    padding-top: 1em;
    }
    .aboutUsContent{
    margin-top: 20em;
    padding-bottom: 2em;
    margin: 0 auto;
    width: 50%;
    height: auto;
    background-color: rgb(199, 199, 199);
    overflow:auto;
    }
    .aboutUsImage{
    width: 50%;
    height: auto;
    margin: 20px;
    float: left;
    }
/*styling for food pages*/
  /* Create four equal columns that sit next to each other */
    .foodColumn {
    flex: 25%;
    max-width: 20%;
    padding: 0 4px;
    }
    .foodColumn:hover{
    opacity: 0.3;
    }
    .foodColumn img {
    margin-top: 8px;
    width: 75%;
    }
    .foodHeader{
    padding: 32px;
    text-align: center;
    text-decoration: underline;
    }
    .foodRow {
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      padding: 0 4px;
      text-align: center;
    }
/*styling for category pages */
    .card {
      overflow-x: auto;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 5em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 20%;
    }
    .card:hover {
    box-shadow: 0 30px 16px 0 rgba(0,0,0,0.2);
    }
    .cardContainer {
    padding: 2px 16px;
    }
    .foodCards{
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    }

    .card > a:link{
      color: black;
    }
    .card > a:visited{
      color: black;
    }